@import './base.css';
@import './normalize.css';

.underline {
  text-decoration: underline;
}

.v-card {
  padding: 14px;
  margin-bottom: 30px;
}

.v-icon {
  filter: invert(0.35);
}
.v-alert .v-icon {
  filter: unset;
}

h1 {
  margin: 14px 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

h2 {
  margin: 9px 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

a,
a:visited {
  color: var(--lm-c-active);
}

/* ____ANIMATIONS____ */

/* __FADE__ */
.fade-enter-active {
  transition: all 2s ease;
}
.fade-leave-active {
  transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* __SLIDE-FADE__ */
.slide-fade-enter-active {
  transition: all 0.25s ease;
}
.slide-fade-leave-active {
  transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(100%);
  opacity: 0;
}
