<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Anmeldedaten für den Kreiszeltlager-Tag</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>
    Hallo <span th:text="${leaderName}"></span>,<br/>
    die Onlineanmeldung zum Kreiszeltlager-Tag der Jugendfeuerwehr Landkreis Karlsruhe in <span
        th:text="${hostCity}"></span> ist ab sofort freigeschalten.
</p>
<p>
    Hier sind deine Logindaten:
<dl>
    <dt>Benutzername:</dt>
    <dd><span th:text="${username}"></span></dd>
    <dt>Passwort:</dt>
    <dd><span th:text="${password}"></span></dd>
</dl>
</p>

<p>
    Der Login ist ber die URL: https://anmeldung.jugendfeuerwehrlager.de möglich. <br/>
    Die eingegeben Teilnehmerdaten sind bis zum Anmeldeschluss am <span th:text="${registrationDeadline}"></span>
    editier- und löschbar.
</p>
<p>
    Kameradschaftliche Grüße,<br/>
    euer Fachgebietsleiter Lager- und Fahrten
</p>
</body>
</html>